<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <connectionStrings>
    <add name="ConnectionString_SQLServer" connectionString="Data Source=DELL-PC\SQLEXPRESS;Database=Northwind;Integrated Security=True;Connect Timeout=60"/>
	 <add name="ConnectionString_MySQLServer" connectionString="Server=localhost;Port=3306;Database=northwind;Uid=root;Pwd=root;"/>
  </connectionStrings>
</configuration>
